<%-include('../partials/head',{
    title:"error 404",
    css:""
})%>

<body>
    <header>
        <%-include("../partials/navbar")%>
    </header>
    <main>
        <h1>Error 404</h1>
        <p>page not found</p>
    </main>




<%- include('../partials/footer',{
    js:[]
}) %>
