<%-include('../partials/head',{
    title:  user[0].name,
    css:""
})%>
<body>

<header>
    <%-include('../partials/navbar2')%>
</header>
<main>
    
</main>





<%-include('../partials/footer',{
    js:[]
})%>